{% extends "base.html" %}

<h1>Approval Page</h1>

{% block content %}
<article>
    Booking ID: {{request.id}} <br/>
    Space name: {{request.name}} <br/>
    Booking start date: {{request.start_date}} <br/>
    Booking end date: {{request.end_date}} <br/>
    Price per night: {{request.price}} <br/>
</article>
<form action="/approve/{{booking_id}}" method="post">
    <button id="approve-button" type="submit">Approve this Booking</button>
</form>
<form action="/reject/{{booking_id}}" id="rejectForm" method="post">
    <input type="hidden" name="booking_id" value="">
    <button id="reject-button" type="submit">Reject this Booking</button>
</form>

<script>
    // Get the number from the current URL
    const currentURL = window.location.href;
    const matchResult = currentURL.match(/\/(\d+)$/); // Matches the last digits in the URL
    const bookingNumber = matchResult ? matchResult[1] : null;

    // Set the value of the hidden input based on the number from the URL
    if (bookingNumber !== null) {
        document.getElementById('booking_id').value = bookingNumber;
    }

    // // Set the form action dynamically
    // const form = document.getElementById('rejectForm');
    // form.action = '/reject/' + bookingNumber; // Replace '/reject/' with your actual endpoint
</script>
</body>
{% endblock %}