<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Approval Page</h1>
    <article>
        <h1> other requests for this space</h1>
        <p>other space not confirmed</p>
    </article>
    <form action="/confirm-a-space" method="post">
    <button id = "confirm-button" type="submit">Confirm this booking</button>
    </form>
    <form action="/reject-a-space" method="post">
        <button id = "reject button" type="submit">Reject this booking</button>
        </form>
</body>
</html>