{% extends "base.html" %}
<h1>Booking Details</h1>
{% block content %}
<body>
    {% if booking.space %}
    <p>ID: {{ booking.id }}</p>
    <p>Space Name: {{ booking.space.name }}</p>
    <p>Space Description: {{ booking.space.description }}</p>
    <p>Space Price: {{ booking.space.price }}</p>
    <p>Start Date: {{ booking.start_date }}</p>
    <p>End Date: {{ booking.end_date }}</p>
    <p>Approved: {{ booking.approved }}</p>
    <p>User ID: {{ booking.user_id }}</p>
    <p>Response: {{ booking.response }}</p>
    {% else %}
        <p>No associated space found for this booking.</p>
    {% endif %}
</body>
{% endblock %}