{% extends "base.html" %}
<h1>Booking Details</h1>
{% block content %}
<body>
    <article>
        <h1>{{request.name}}</h1><br/>
        Booking start date: {{request.start_date}} <br/>
        Booking end date: {{request.end_date}} <br/>
        Price per night: {{request.price}} <br/>
        <p></p>
        Booking ID: {{request.id}} <br/>
        Owner Name: {{request.user_name}} <br/>
        Email: {{request.email}} <br/>
        Online: {{request.logged_in}} <br/>
    </article>
</body>
{% endblock %}