{% extends "base.html" %}
<h1>Booking Details</h1>
{% block content %}
<body>
    <article>
        User Name: {{request.user_name}} <br/>
        Email: {{request.email}} <br/>
        Online: {{request.logged_in}} <br/>
        <form action="/message/{{request.user_id}}" method="post">
            <button id="message" type="submit">Message</button>
        </form>
        Booking ID: {{request.id}} <br/>
        Space name: {{request.name}} <br/>
        Booking start date: {{request.start_date}} <br/>
        Booking end date: {{request.end_date}} <br/>
        Price per night: {{request.price}} <br/>
    </article>
</body>
{% endblock %}