{% extends "base.html" %}{% block content %}
<div style="text-align: right; margin-bottom: 20px">
	<a href="{{ url_for ('spaces.get_new_space') }}">
		<button>List a New Space</button>
	</a>
</div>

<div class="dashboard-container">
	<div class="dashboard-section">
		<article class="dashboard-button" id="requests_made">
			<h2>My Booking Requests:</h2>
			<hr />
			{% for booking in bookings %}
			<div>
				<p>
					{{booking.name}} <br />
					Check In {{booking.start_date}} <br />
					Check Out: {{booking.end_date}} <br />
					Approved: {{booking.approved}} <br />
				</p>
				<a
					href="{{ url_for('bookings.booking', booking_id=booking.id) }}"
					class="view-button"
				>
					<button>View</button>
				</a>
			</div>
			<hr />
			{% endfor %}
		</article>
	</div>

	<div class="dashboard-section">
		<article class="dashboard-button" id="requests_received">
			<h2>Requests I have received:</h2>
			<hr />
			{% for request in requests %}
			<div>
				<p>
					{{request.space_id.name}} - Booking ID: {{request.id}}<br />
					Check In: {{request.start_date}} <br />
					Check Out: {{request.end_date}} <br />
					£{{request.space_id.price}}/n <br />
				</p>
				<div class="button-group">
					<a
						href="{{ url_for('bookings.approval', booking_id=request.id) }}"
						id="view-button"
					>
						<button class="button-primary">View</button>
					</a>
					<form
						action="{{ url_for('bookings.approve', booking_id=request.id) }}"
						method="post"
					>
						<button
							type="submit"
							id="approve-button"
							class="button-primary"
						>
							Approve
						</button>
					</form>
					<form
						action="{{ url_for('bookings.reject', booking_id=request.id) }}"
						id="rejectForm"
						method="post"
					>
						<input type="hidden" name="request.id" value="" />
						<button
							type="submit"
							id="reject-button"
							class="button-primary"
						>
							Reject
						</button>
					</form>
				</div>
			</div>
			<hr />
			{% endfor %}
		</article>
	</div>
</div>
{% endblock %}
