{% extends "base.html" %}
<h1> Dashboard</h1>

{% block content %}
    <a href ="{{ url_for ('get_list_space') }}">
        <button> List a Space</button>
    </a>

    <article id="requests_made">
        <h2>My Booking Requests:</h2>

        {% for booking in bookings %}
        <a href="{{ url_for('booking', booking_id=booking.id) }}">
            <button>
                {{booking.name}} <br/>
                Start Date {{booking.start_date}} <br/>
                End Date: {{booking.end_date}} <br/>
                Approved: {{booking.approved}} <br/>
            </button>
        </a>
        <hr>
        {% endfor %}
    </article>

    <article id="requests_recieved">
        <h2>Requests I have recieved:</h2>

        {% for request in requests %}
        <a href="{{url_for('approval' , booking_id=request.id) }}">
        <button><p>
            Booking ID: {{request.id}} <br/>
            Space name: {{request.space_id.name}} <br/>
            Booking start date: {{request.start_date}} <br/>
            Booking end date: {{request.end_date}} <br/>
            Price per night: {{request.space_id.price}}
        </p></button>
        </a>
        <hr>

        
        
        {% endfor %}
    </article>
{% endblock %}