<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List a Space</title>
</head>
<h1>List a Space</h1>

<body>
    <form action="/submit-list-a-space" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>

        <label for="description">Space Description</label>
        <input type="text" id="description" name="description" required>

        <label for="price">Price</label>
        <input type="number" id="price" name="price" required>

        <label for="start_date">Start Date</label>
        <input type="date" id="start_date" name="start_date" required>

        <label for="end_date">End Date</label>
        <input type="date" id="end_date" name="end_date" required>

        <label for="user_id">User ID</label>
        <input type="number" id="user_id" name="user_id" required>

        



        <button type="Submit">Submit</button>

</body>

</html>