<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feel at home, anywhere</title>
</head>
<body>
    <h1> Signup to makers bnb</h1>
    <form action="/signup" class="signup" method="POST">
        <input type="text" id="name" name="name"> 
        <label for="email">Enter your email:</label>
        <input type="email" id="email" name="email">    
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
        <button>Signup</button>

    </form>
</body>
</html>