<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{space.name}}</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>{{space.name}}</h1>

        <div>
            <p>{{space.description}}</p>
            <p>£{{space.price}} per night</p>
        </div>

        <a href="/add-listing">
            <button>Make a Listing</button>
        </a>

        <form>
            <label for="avail-from">Available from:</label><br>
            <input type="date" id="avail-from" name="avail-from"><br>
            <label for="avail-to">Available to:</label><br>
            <input type="date" id="avail-to" name="avail-to">
            <input type="submit" value="Search">
        </form>

        
    </body>
</html>


