<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Successfully submited your space</h1>
    <p><a href='/list-space'>Return to list a space</a></p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
{% endwith %}
</body>
</html>

#add delay and send back to dashboard 
#dynamically display a message depending on what has occured. 